html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  float: right;
  margin: 0 1rem;
  position: fixed;
}

ul:first-of-type {
  padding: 0;
  display: flex;
  list-style-type: none;
}

ul:first-of-type > li {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
}
