* {
  --second-bg-colour: rgb(250, 250, 250);
  --main-bg-colour: rgb(235, 235, 245);
}

nav {
  z-index: 100;
  background-color: #f3f3f3;
  position: sticky;
}

nav > ul {
  display: flex;
  list-style-type: none;
}

nav > ul > li {
  text-align: center;
}

nav > ul > li > a {
  display: flex;
  z-index: 101;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  padding: 0.5em 0;
}

.main {
}

.projectsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.project {
  margin: 0.5em;
  padding: 0.5em 2.5em;
  width: 25em;
  height: 30vh;
  border: 0.2em solid rgba(133, 129, 200, 0.4);
  border-radius: 2rem;
  background-color: rgba(133, 129, 200, 0.15);
  box-shadow: 0 0 1em 0.25em #f3f3f3;
  display: grid;
  grid-template-rows: 3.5em auto;
}

.project > h2 {
}

.project-desc {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
}

.project-desc > div {
  display: inline-flex !important;
  position: relative !important;
  height: inherit;
  width: inherit;
}

.project-desc img {
  /* Due to NextJS image optimization must use min-height/width for all image sizing*/
  min-width: calc(100% - 1em) !important;
  min-height: calc(100% - 1em) !important;
  left: 0 !important;
  top: 0 !important;
  margin-left: 0!important;
}

.project-desc > span {
}

/* Desktop. Not ultrawides */
@media (min-width: 800px) and (max-width: 2160px) {
  nav {
    overflow: hidden;
  }

  nav > ul {
    float: right;
    margin: 0;
  }

  nav > ul > li {
    margin: 0 2vw;
    padding: 1em 0;
  }

  nav > ul > li:last-of-type {
    margin-right: 4vw;
  }

  nav > ul > li > a {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.25em 1em;
    line-height: 2.3em;
    border-radius: 3em;
    margin:0;
  }

  nav > ul > li > a > svg {
    height: 2.3em !important;
    width: 2.3em !important;
    margin-right: 0.3em;
  }

  .err404 {
    margin-bottom: 1.5rem !important;
  }
}

/* jokes */
@media (max-width: 320px) {
  body > * {
    display: none;
  }

  body {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: black;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  body::before {
    content: "why is ur screen so small!?";
    font-size: 20vw;
    color: white;
    font-weight: bolder;
  }
}

/* Handheld. Handles both portrait and landscape. */
@media (min-width: 320px) and (max-width: 568px) {
  .mainContainer {
    background-color: var(--main-bg-colour);
  }

  nav {
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 0.5rem 0 1rem 0;
    background-color: var(--second-bg-colour);
    box-shadow: 1px 0 15px 16px var(--second-bg-colour);
    -webkit-box-shadow: 1px 0 15px 16px var(--second-bg-colour);
    -moz-box-shadow: 1px 0 15px 16px var(--second-bg-colour);
  }

  nav > ul {
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }

  nav > ul > li > a {
    display: flex;
    flex-direction: column-reverse;
    font-size: 2vh;
  }

  nav > ul > li > a > svg {
    height: 6vh !important;
  }

  .projectsContainer {
    /*              calc(svg_height + nav_label_height + vert_padding + boxshadow_blur + boxshadow_spread) */
    padding-bottom: calc(6vh + 2vh + 0.5rem + 15px + 16px);
  }

  .project > h2 {
    font-size: 1.5em;
  }
}

/* Tablet. Handles both portrait and landscape. */
@media (min-width: 568px) and (max-width: 928px) {
  .mainContainer {
    background-color: green;
  }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0 1rem 0;
    background-color: var(--second-bg-colour);
    box-shadow: 1px 0 15px 16px var(--second-bg-colour);
    -webkit-box-shadow: 1px 0 15px 16px var(--second-bg-colour);
    -moz-box-shadow: 1px 0 15px 16px var(--second-bg-colour);
  }

  nav > ul {
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }

  nav > ul > li > a {
    display: flex;
    flex-direction: column-reverse;
    font-size: 2.5vh;
  }

  nav > ul > li > a > svg {
    height: 10vh !important;
  }
}
