* {
  --second-bg-colour: rgb(250, 250, 250);
  --main-bg-colour: rgb(235, 235, 245);
}

nav > ul {
  display: flex;
  list-style-type: none;
}

nav > ul > li {
  text-align: center;
}

nav > ul > li > a {
display: flex;
}

/* Desktop. Not ultrawides */
@media (min-width: 800px) and (max-width: 2160px) {
  nav {
    margin: 1rem 0;
    overflow: hidden;
  }

  nav > ul {
    float: right;
    margin: 0;
  }

  nav > ul > li {
    margin: 0 2vw;
  }

  nav > ul > li:last-of-type {
    margin-right: 4vw;
  }

  nav > ul > li > a {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.25rem 1vw;
    line-height: 2.3rem;
    border-radius: 3rem;
  }

  nav > ul > li > a > svg {
    height: 2.3rem !important;
    margin-right: 0.3rem;
    z-index: -1;
  }

  .err404 {
    margin-bottom: 1.5rem !important;
  }
}

/* jokes */
@media (max-width: 320px) {
  body > * {
    display: none;
  }

  body {
    
  }

  body::before {
    content: "why is ur screen so small!?";
    font-size: 6vw;
    text-align: center;
    margin: auto;
    position: relative;
  }
}

/* Handheld. Handles both portrait and landscape. */
@media (min-width: 320px) and (max-width: 568px) {

  .mainContainer {
    background-color: var(--main-bg-colour);
  }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0 1rem 0;
    background-color: var(--second-bg-colour);
    box-shadow: 1px 0 15px 16px var(--second-bg-colour);
    -webkit-box-shadow: 1px 0 15px 16px var(--second-bg-colour);
    -moz-box-shadow: 1px 0 15px 16px var(--second-bg-colour);
  }

  nav > ul {
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }

  nav > ul > li > a {
    display: flex;
    flex-direction: column-reverse;
    font-size: 2vh;
  }

  nav > ul > li > a > svg {
    height: 6vh !important;
  }
}

/* Tablet. Handles both portrait and landscape. */
@media (min-width: 568px) and (max-width: 800px) {
  .mainContainer {
    background-color: var(--main-bg-colour);
  }

  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0 1rem 0;
    background-color: var(--second-bg-colour);
    box-shadow: 1px 0 15px 16px var(--second-bg-colour);
    -webkit-box-shadow: 1px 0 15px 16px var(--second-bg-colour);
    -moz-box-shadow: 1px 0 15px 16px var(--second-bg-colour);
  }

  nav > ul {
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }

nav > ul > li > a {
  display: flex;
  flex-direction: column-reverse;
  font-size: 2.5vh;
}

nav > ul > li > a > svg {
  height: 10vh !important;
}
}