.err404 {
  margin-bottom: 1.5rem !important;
}

nav {
  margin: 1rem 0;
  overflow: hidden;
}

nav > ul {
  display: flex;
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  text-align: center;
  margin: 0.75rem 2vw;
  padding: 0.25rem 1vw;
  display: flex;
  flex-direction: row-reverse;
  overflow: visible;
}

nav > ul > li:last-of-type {
  margin-right: 4vw;
}

nav > ul > li > a {
  margin: auto;
  margin-left: 0.3rem;
}

nav > ul > li > svg {
  height: 2.3rem !important;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    margin: 0;
    position: absolute;
    bottom: 0px;
  }

  nav > ul {
    float: none;
    margin: 0 0.5rem;
  }

  nav > ul > li {
    text-align: center !important;
    flex: 1 0 auto;
    margin: 1rem 1rem;
  }

  nav > ul > li > a {
    text-align: center;
  }

  nav > ul > li > a div {
    height: 50px;
    width: 50px;
    margin: auto !important;
    display: block !important;
  }
}
